
audio { display:none;}

.testinstruct {
    position:absolute; 
    top: 10%;  
	left: 20%;
	text-align: center;
	width:65%
}

.TBUTTON { 
	left: 35%;
	background-color: #FFFFFF;
    border: 4px solid #000000; 
    color: #ff0000;
    padding: 11px 11px;
    text-align: center;
    text-decoration: none;
    font-size: 2.5em;
	transition-duration: 0.2s;
	border-radius: 0%;
	font-weight: 900;
	height: 10vh;
	width: 6vw;
} 

.SBUTTON {
	background-color: #FFFFFF;
    border: 4px solid #000000; 
    color: #000000; 
    padding: 11px 11px;
    text-align: center;
    text-decoration: none;
    font-size: 2.5em;
	transition-duration: 0.2s;
	border-radius: 0%;
	font-weight: 900;
	height: 10vh;
	width: 6vw;
} 

.DBUTTON {
	background-color: #cce6ff;
    border: 4px solid #000000; 
    color:  #000000; 
    padding: 11px 11px;
    text-align: center;
    text-decoration: none;
    font-size: 3em;
	transition-duration: 0.2s;
	border-radius: 0%;
	font-weight: 900;
	height: 12vh;
	width: 6vw;	
} 

.UBUTTON {
	background-color: #cce6ff;
    border: 4px solid #000000; 
    color:  #000000; 
    padding: 11px 11px;
    text-align: center;
    text-decoration: none;	
    font-size: 3em;
	transition-duration: 0.2s;
	border-radius: 0%;
	font-weight: 900;
	height: 12vh;
	width: 6vw;
} 

.filler {
	background-color: #fff;
    border: 4px solid #fff; 
    color:  #fff; 
    padding: 11px 11px;
    text-align: center;
    text-decoration: none;	
    font-size: 3em;
	border-radius: 0%;
	font-weight: 900;
	height: 12vh;
	width: 6vw;
} 


.TBUTTON:hover {
  background-color: #D8D8D8; 
}

.SBUTTON:hover {
  background-color: #D8D8D8; 
}

.DBUTTON:hover {
  background-color: #3399ff; 
}

.UBUTTON:hover {
  background-color: #3399ff;
}

.single {
	display: inline-block;
	width: 100%;
	float:left;
	height: 50%;
	text-align: center;
}

.triple {
	display: inline-block;
	width: 100%;
	float:right;
	height: 75%;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Default jsPsych Buttons */
.jspsych-btn {
	background-color: #FFFFFF;
	border: 2px solid black;
	color: black;
	font-size: 18px;
	border-radius: 20px;
	}

.jspsych-btn:hover,
.jspsych-btn:focus {
	background-color: #808080;
	color: white;
	border: 2px solid black;
	transition: 0.1s;
	}	