/*
 * CSS for jsPsych experiments.
 *
 * This stylesheet provides minimal styling to make jsPsych
 * experiments look polished without any additional styles.
 */

 /* Container holding jsPsych content */

 .jspsych-display-element {
   display: flex;
   flex-direction: column;
   overflow-y: auto;
 }

 .jspsych-display-element:focus {
   outline: none;
 }

 .jspsych-content-wrapper {
   display: flex;
   margin: auto;
   flex: 1 1 100%;
   width: 100%;
 }

 .jspsych-content {
   max-width: 95%; /* this is mainly an IE 10-11 fix */
   text-align: center;
   margin: auto; /* this is for overflowing content */
 }

 .jspsych-top {
   align-items: flex-start;
 }

 .jspsych-middle {
   align-items: center;
 }

/* fonts and type */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

.jspsych-display-element {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 1.6em;
}

/* Form elements like input fields and buttons */

input[type="text"] {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
}

/* borrowing Bootstrap style for btn elements, but combining styles a bit */
.jspsych-btn {
  display: inline-block;
  padding: 6px 12px;
  margin: 0px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Open Sans', 'Arial', sans-serif;
  cursor: pointer;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.jspsych-btn:hover {
  background-color: #ddd;
  border-color: #aaa;
}

.jspsych-btn:disabled {
  background-color: #eee;
  color: #aaa;
  border-color: #ccc;
  cursor: not-allowed;
}

/* jsPsych progress bar */

#jspsych-progressbar-container {
  color: #555;
  border-bottom: 1px solid #dedede;
  background-color: #f9f9f9;
  margin-bottom: 1em;
  text-align: center;
  padding: 8px 0px;
  width: 100%;
  line-height: 1em;
}
#jspsych-progressbar-container span {
  font-size: 14px;
  padding-right: 14px;
}
#jspsych-progressbar-outer {
  background-color: #eee;
  width: 50%;
  margin: auto;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
#jspsych-progressbar-inner {
  background-color: #aaa;
  width: 0%;
  height: 100%;
}

/* Control appearance of jsPsych.data.displayData() */
#jspsych-data-display {
  text-align: left;
}



/* CSS for Response Box */
.digit-span-text {
	text-align:center;
	font-size: 80px;
	position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}


/* css for numpad */
.square {
    float:left;
    position: relative;
    width: 20%;
    height: 20%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    background-color:#fff;
    overflow:hidden;
    color: #000;
    border-radius:15px;
	border: 2px solid black;
}

.blank_button, .clear_button {
    float:left;
    position: relative;
    width: 47%;
    height: 15%; /* = width for a 1:1 aspect ratio */
    margin:1.5%;
    background-color:#fff;
    overflow:hidden;
    color: #000;
    border-radius:15px;
    font-size: 20px;
	border: 2px solid black;
}

.square:hover, .blank_button:hover, .clear_button:hover {
	color: blue;
}

.square:active, .blank_button:active, .clear_button:active {
	background-color: #505050;
}

.numbers{
    font-weight:900;
    text-align: center;
    font-size: 50px;
    position: relative;
    top: 50%; 
}

.numbox {
  width:30vw;
  height: 30vw;
  position:absolute;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,-50%);
}


/* RSPAN Specific CSS */

	
	.jspsych-survey-text-rspan-question {border-style: solid; background-color: #E8E8E8; width:10%; padding: 5px; text-align: center;  position: relative; top: 50%; left: 45%;}
	.jspsych-survey-text-rspan-question textarea { font-size: 30px; width: 35px; height: 35px; text-align: center; font-family: arial; font-style: bold;  resize: none; overflow: hidden;}
	.jspsych-survey-text-rspan {margin: 0em 0em;}
	
	.solid {
	border-style: solid;
	border-color: #000000;
	border-width: 2px;
	padding-top: 10px;
	background-color: #E8E8E8;
	font-size: 40px;
	width: 42px;
	height: 42px;
	text-align: center;
	position: relative;
	top: 50%; 
	left: 40%;
	margin-bottom: 10px;
	margin-top: 10px;
	}
	
	.senFB {
	border-style: solid;
	border-color: #000000;
	border-width: 2px;
	padding-top: 10px;
	background-color: #E8E8E8;
	font-size: 25px;
	width: 300px;
	height: 65px;
	text-align: center;
	position: absolute;
	top: 5%; 
	left: 80%;
	margin-bottom: 10px;
	margin-top: 10px;
	}
	
	.buttonStyle {
	background-color: #555555; 
	border: 2px solid black;
	color: white;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	cursor: pointer;
	}
	
	.buttonStyle:hover,
	.buttonStyle:focus {
	background-color: #808080; 
	color: white;	
	}
	
	.fullscreenStyle {
	display: block;
    height: 90vh; 
    width:  90vw; 
	cursor: pointer;
	text-align: center;
	background-color: #E8E8E8;
    background-repeat:no-repeat;
    border: 2px solid black;
    cursor:pointer;
    overflow: hidden;
    outline:none;
	}
